@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.dashboard{
    width: 100%;
}

.topNav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    font-family: "Bebas Neue";
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.imageNav{
    width: 30%;
}

.imageNav img{
    width: 30%;
    margin-left: 10%;
}

.titleNav{
    width: 30%;
    text-align: center;
    color: rgba(0, 0, 0, 0.76);
}

.titleNav h2{
    font-size: 2.5vw;
}

.versionNav{
    width: 30%;
    text-align: right;
}

.versionNav h4{
    font-size: 1.3vw;
    font-weight: 700;
    margin-right: 10%;
    color: rgba(0, 0, 0, 0.808);
}

.mainContent{
    width: 100%;
    margin-top: 1%;
    font-family: "Roboto";
}

.topContent{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.titleProject{
    margin: 0 auto;
    width: 94%;
    margin-top: 0%;
    margin-bottom: 1%;
    text-align: center;
    padding: 0.7% 0%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 5px;
    height: fit-content;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}

.titleProject h1{
    color: white;
    font-family: "Bebas Neue";
    font-size: 1.5vw;
}

.projectDefinition{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 2%;
}

.projectImage{
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 2%;
}

.deviceImage{
    width: 30%;
}
.featureList{
    width: 40%;
}

.projectText{
    margin-top: 2%;
    padding: 0% 7%;
    margin-bottom: 2%;
}

.projectText p{
    font-size: 1.1vw;
    text-align: center;
    color: rgba(0, 0, 0, 0.644);
    font-weight: 400;
}

.bottomContent{
    margin-top: 2%;
}

@media screen and (max-width: 800px){
    .titleProject h1{
        font-size: 3vw;
    }

    .projectImage{
        flex-direction: column;
    }

    .projectImage img{
        width: 50%;
        margin-top: 3%;
    }

    .imageNav img{
        width: 50%;
    }

    .titleNav h2{
        font-size: 4vw;
    }

    .versionNav h4{
        font-size: 3vw;
    }

    .projectText p{
        margin-top: 3%;
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 500px){
    .titleProject h1{
        font-size: 4vw;
    }

    .projectImage img{
        width: 70%;
        margin-top: 3%;
    }

    .imageNav img{
        width: 70%;
    }

    .titleNav h2{
        font-size: 5vw;
    }

    .versionNav h4{
        font-size: 4vw;
    }

    .projectText p{
        margin-top: 5%;
        font-size: 3.5vw;
    }
}

